.big-text {
    
    top: 100px;
    left: 50%;

    gap: 20px;
}

.big-text .text {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
    text-align: center;
    margin: 0;
    color: #0098EA;
}
.wrapperBig-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 5vw;
    min-width: 400px;
    min-height: 80px;
    background-color: #19223A;
    border-radius: 20px;
}